body{
    background: rgb(47, 47, 201); 
    font: normal 20pt times;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 20pt;
    padding: 15px;
    margin: auto;
    width: 300px;
    box-shadow: 5pt 5pt 5pt rgba(0, 0, 0, 0.575);



}

footer {
    font: italic 8pt times;
    color: white;
    text-align: center;

}